$textnode:4.45001;
@keyframes artist_carousel{
  0%{left: -330px;}
  100%{left: 1040px;}
}
@keyframes navin{
  100%{
    top: 10vh;
    left: 80px;
    opacity: 1;
  }
}
.navin{
  animation: navin 1s ease 0s forwards;
}
