@charset "UTF-8";
/*完成*/
@keyframes artist_carousel {
  0% {
    left: -330px;
  }
  100% {
    left: 1040px;
  }
}

@keyframes navin {
  100% {
    top: 8vh;
    left: 80px;
    opacity: 1;
  }
}

@keyframes navout {
  100% {
    top: 10vh;
    left: 80px;
    opacity: 1;
  }
}

.navin {
  animation: navin 1s ease 0s forwards;
}

@font-face {
  font-family: "akukamu";
  src: url(../material/Aku&Kamu.otf);
}

.whitebar {
  content: "";
  background-color: white;
  display: block;
  width: 100vw;
  height: 15vh;
  position: relative;
  transition: top 1s,opacity 1s;
}

.whitebar .title {
  font-family: "akukamu";
  position: absolute;
  top: -5vh;
  left: 80px;
  opacity: 0;
  mix-blend-mode: difference;
  z-index: 10;
  color: white;
  font-size: 5vw;
  letter-spacing: 10px;
}

body {
  height: calc(100vh * 4);
  font-family: "Mplus 1p";
}

header {
  position: fixed;
  z-index: 200;
}

header nav {
  mix-blend-mode: difference;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: white;
}

header nav ul {
  text-align: center;
}

header nav ul li {
  text-align: center;
  letter-spacing: 0.2em;
  font-family: "akukamu";
  mix-blend-mode: difference;
  color: #ffffff;
  display: inline-block;
  font-weight: lighter;
  margin: 0 8px;
  margin-top: 20px;
  font-size: 18px;
  z-index: 200;
  text-shadow: 4px 4px 1px rgba(150, 150, 150, 0.2);
}

header .icon {
  position: relative;
  height: 100vh;
  width: 100px;
  right: -95vw;
  top: 0;
}

header .icon .twitter, header .icon .instagram {
  position: absolute;
  height: auto;
  width: 40px;
  right: 50px;
}

header .icon .twitter {
  top: 43vh;
}

header .icon .instagram {
  top: 50vh;
}

header .icon .app {
  position: absolute;
  width: 200px;
  height: auto;
  right: 85px;
  bottom: 50px;
}

#logowrap {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../material/top.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#logowrap .logos {
  position: absolute;
  width: 500px;
  height: 500px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

#logowrap .logos img:nth-child(1) {
  position: absolute;
  height: 543px;
  width: auto;
  opacity: 0.7;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#logowrap .logos img:nth-child(2) {
  position: absolute;
  height: 140px;
  width: auto;
  top: 199px;
  left: 132px;
}

#artist {
  font-family: "akukamu";
  letter-spacing: 2px;
  width: 100vw;
  height: 85vh;
  overflow: hidden;
  background-image: url(../material/artistbackgroundimage.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#artist h1 {
  font-family: akukamu;
  letter-spacing: 0.2em;
  margin: 10vh auto 50px;
  color: #ffffff;
  display: inline-block;
  width: 100vw;
  text-align: center;
  position: relative;
}

#artist h1::before {
  background-color: #ffffff;
  height: 2px;
  width: 130px;
  position: absolute;
  top: 1.2em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
}

#artist ul {
  margin-top: 11%;
  color: #ffffff;
  text-align: center;
}

#artist ul li {
  margin: 0 20px;
  text-align: center;
  display: inline-block;
  border: solid 1.5px #fff;
  border-radius: 3px;
  height: 35px;
  width: 100px;
  position: relative;
}

#artist ul li p {
  line-height: 35px;
}

#artist .artist_wrap {
  margin: 2% auto;
  height: 220px;
  width: 1040px;
  overflow: hidden;
  position: relative;
}

#artist .artist_wrap img {
  height: 220px;
  width: 330px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: -330px;
}

#artist .artist_wrap img:nth-child(1) {
  animation: artist_carousel 12s linear 0s infinite;
}

#artist .artist_wrap img:nth-child(2) {
  animation: artist_carousel 12s linear 3s infinite;
}

#artist .artist_wrap img:nth-child(3) {
  animation: artist_carousel 12s linear 6s infinite;
}

#artist .artist_wrap img:nth-child(4) {
  animation: artist_carousel 12s linear 9s infinite;
}

#artist .artist_wrap img:nth-child(5) {
  animation: artist_carousel 12s linear 12s infinite;
}

#artist .whiteline {
  margin: 0 auto;
  content: "";
  background-color: white;
  height: 2px;
  width: 1040px;
  display: block;
}

#artist .viewall {
  color: #ffffff;
  text-align: center;
  width: 220px;
  height: 50px;
  border: solid 1.5px #fff;
  border-radius: 3px;
  margin: 2% auto;
}

#artist .viewall:before {
  background-color: white;
  display: block;
  content: "";
  width: 220px;
  height: 50px;
  opacity: 0.5;
  position: absolute;
}

#artist .viewall p {
  line-height: 50px;
}

#movie {
  background-image: url(../material/historybackgroundimage.png);
  height: 85vh;
  width: 100vw;
  background-color: black;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#movie iframe {
  height: calc(800px * 0.563);
  width: 800px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  top: -100px;
}

#about {
  background-image: url(../material/aboutbackgroundimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 85vh;
  width: 100%;
  color: white;
  position: relative;
}

#about h1 {
  font-family: akukamu;
  letter-spacing: 0.2em;
  margin: 10vh auto 50px;
  color: #ffffff;
  display: inline-block;
  width: 100vw;
  text-align: center;
  position: relative;
}

#about h1::before {
  background-color: #ffffff;
  height: 2px;
  width: 130px;
  position: absolute;
  top: 1.2em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
}

#about .about_wrap {
  width: 45em;
  margin: 0 auto;
  padding-top: 10%;
  letter-spacing: 2px;
}

#about .about_wrap h2 {
  line-height: 2em;
  font-weight: bold;
}

#about .about_wrap ul {
  margin-top: 20px;
}

#about .about_wrap li {
  line-height: 2em;
  font-weight: lighter;
}

#about .about_wrap li span {
  font-weight: 700;
}

.container {
  position: relative;
  z-index: 100;
}

footer .map {
  height: 70vh;
  width: 100vw;
  position: relative;
}

footer iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100vw;
  height: 400px;
}

footer .sponser {
  background-color: white;
  position: relative;
  height: 10vh;
}

footer .sponser img {
  width: 90vw;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
