@keyframes artist_carousel {
  0% {
    left: -330px;
  }
  100% {
    left: 1040px;
  }
}

body {
  height: calc(100vh * 4);
}

#logowrap {
  position: relative;
  z-index: 10;
}

#logowrap .logos {
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

#logowrap .logos img:nth-child(1) {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 543px;
  width: auto;
  opacity: 0.7;
  position: fixed;
}

#logowrap .logos img:nth-child(2) {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  width: auto;
  position: fixed;
}

#logowrap .blur {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

#firstview {
  height: 100vh;
  width: 100vw;
  background-image: url(../material/top.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#artist {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url(../material/artist_back_new.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#artist h1 {
  margin: 50px auto;
  color: #ffffff;
  position: relative;
  display: inline-block;
  width: 100vw;
  text-align: center;
}

#artist h1::before {
  height: 2px;
  width: 114px;
  position: absolute;
  top: 1.3em;
  content: "";
  display: inline-block;
  background: #ffffff;
}

#artist ul {
  color: #ffffff;
  text-align: center;
}

#artist ul li {
  margin: 0 20px;
  text-align: center;
  display: inline-block;
  border: solid 1.5px #fff;
  border-radius: 3px;
  height: 35px;
  width: 100px;
}

#artist .artist_wrap {
  margin: 0 auto;
  margin-top: 50px;
  height: 220px;
  width: 1040px;
  overflow: hidden;
  position: relative;
}

#artist .artist_wrap img {
  height: 220px;
  width: 330px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: -330px;
}

#artist .artist_wrap img:nth-child(1) {
  animation: artist_carousel 10s linear 0s infinite;
}

#artist .artist_wrap img:nth-child(2) {
  animation: artist_carousel 10s linear 2.5s infinite;
}

#artist .artist_wrap img:nth-child(3) {
  animation: artist_carousel 10s linear 5s infinite;
}

#artist .artist_wrap img:nth-child(4) {
  animation: artist_carousel 10s linear 7.5s infinite;
}

#artist .artist_wrap img:nth-child(5) {
  animation: artist_carousel 10s linear 10s infinite;
}

.container {
  position: relative;
  z-index: 100;
}
