/*完成*/

$textnode:4.45001;
@import "_variable.scss";
@import "_animation.scss";
@mixin center{
  margin: auto;
  top: 0;bottom: 0;
  left: 0;right: 0;
}
@mixin fullsize{
  height: 100vh; width: 100vw;
}
@mixin h1($line_length){
  h1{
    font-family: akukamu;
    letter-spacing: 0.2em;
    margin: 10vh auto 50px;
    color:$white;
    display: inline-block;
    width: 100vw;
    text-align: center;
    position: relative;
    &::before{
      background-color: $white;
      height: 2px; width: $line_length;
      position: absolute;
      top:1.2em;bottom: 0;
      left: 0;right: 0;
      margin: auto;
      content:"";
    }
  }
}
@font-face {
  font-family: "akukamu";
  src: url(../material/Aku&Kamu.otf);
}
.whitebar{
  content: "";
  background-color: white;
  display: block;
  width: 100vw;height: 15vh;
  position: relative;
  transition: top 1s,opacity 1s;
  .title{
    font-family: "akukamu";
    position: absolute;
    top: -5vh;
    left: 80px;
    opacity: 0;
    mix-blend-mode: difference;
    z-index: 10;
    color: white;
    font-size: 50px;
    letter-spacing: 10px;


  }
}



body{
  height: calc(100vh * 4);
  font-family: "Mplus 1p";
}
header{
  position: fixed;
  z-index: 200;
  nav{
    mix-blend-mode: difference;
    position: fixed;
    left: 0;right: 0;

    margin: 0 auto;
    color: white;
    ul{
      text-align: center;
      li{
        text-align: center;
        letter-spacing: 0.2em;
        font-family: "akukamu";
        mix-blend-mode: difference;
        color:$white;
        display: inline-block;
        font-weight: lighter;

        margin: 0 8px;
        margin-top: 20px;
        font-size: 18px;
        z-index: 200;
        text-shadow: 4px 4px 1px rgba(150, 150, 150, 0.2);
      }
    }

  }
  .icon{
    position: relative;
    height: 100vh;width: 100px;
    right: -95vw;
    top: 0;
    .twitter,.instagram{
      position: absolute;
      height: auto;width: 40px;
      right: 50px;
    }
    .twitter{
      top: 43vh;
    }
    .instagram{
      top: 50vh;
    }
    .app{
      position: absolute;
      width: 170px;height: auto;
      right: 50px;
      bottom: 50px;
    }
  }


}
#logowrap{
  position: relative;
  @include fullsize;
  background-image: url(../material/top.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .logos{
    position: absolute;
    width: 500px;height: 500px;
    @include center;
    z-index: 3;
    img:nth-child(1){
      position: absolute;
      height: 543px; width: auto;
      opacity:0.7;
      @include center;
    }
    img:nth-child(2){
      position: absolute;
      height: 140px; width: auto;
      top: 199px;
      left: 132px;

    }
  }

}

#artist{
  font-family: "akukamu";
  letter-spacing: 2px;
  width: 100vw; height: 85vh;
  overflow: hidden;
  background-image: url(../material/artistbackgroundimage.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  @include h1(130px);
  ul{
    margin-top: 11%;
    color: $white;
    text-align: center;

    li{
      margin: 0 20px;
      text-align: center;
      display: inline-block;
      border:solid 1.5px #fff;
      border-radius:3px;
      height: 35px; width: 100px;
      position: relative;
      p{
        line-height: 35px;
      }
    }
  }
  .artist_wrap{
    margin: 2% auto;
    height: 220px; width: 1040px;
    overflow: hidden;
    position: relative;
    img{
      height: 220px; width: 330px;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top:0;
      left: -330px;

      @for $img_num from 1 through 5{
        $speed:12;//この値を変えればカルーセルのスピードを変えれる
        $delay:0.25 * $speed * ($img_num - 1);
        &:nth-child(#{$img_num}){
          animation: artist_carousel #{$speed}s linear #{$delay}s infinite;
        }
      }
    }
  }
  .whiteline{
    margin: 0 auto;
    content: "";
    background-color: white;
    height: 2px;
    width: 1040px;
    display: block;

  }
  .viewall{
    color: $white;
    $viewall_h:50px;
    text-align: center;
    width: 220px;
    height: $viewall_h;
    border:solid 1.5px #fff;
    border-radius:3px;
    margin: 2% auto;
    &:before{
      background-color: white;
      display: block;
      content: "";
      width: 220px;
      height: $viewall_h;
      opacity: 0.5;
      position: absolute;
    }
    p{
      line-height: $viewall_h;
    }

  }
}
#movie{
  background-image: url(../material/historybackgroundimage.png);
  height: 85vh;width: 100vw;
  background-color: black;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  iframe{
    height: calc(800px * 0.563);width: 800px;
    @include center;
    position:  absolute;
    top: -100px;
  }
}
#about{
  @include h1(130px);
  background-image: url(../material/aboutbackgroundimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 85vh;width: 100%;
  color: white;
  position: relative;

  .about_wrap{
    width: 45em;
    margin: 0 auto;
    padding-top:10%;
    letter-spacing: 2px;
    h2{
      line-height: 2em;
      font-weight: bold;
    }
    ul{
      margin-top: 20px;
    }
    li{
      line-height: 2em;
      font-weight: lighter;
      span{
        font-weight: 700;
      }
    }

  }
}
.container{
  position: relative;
  z-index: 100;
}
footer{
  position: relative;
  height: 10vh;
  background-color: white;
  .sponser{
    img{
      width: 90vw;
      height: auto;
      position: absolute;
      @include center;
    }
  }


}
