@import "_variable.scss";
@import "_animation.scss";
@mixin center{
  margin: auto;
  top: 0;bottom: 0;
  left: 0;right: 0;
}
@mixin fullsize{
  height: 100vh; width: 100vw;
}
@mixin h1($line_length){
  h1{
    font-family: akukamu;
    letter-spacing: 0.2em;
    margin: 10vh auto 50px;
    color:$white;
    display: inline-block;
    width: 100vw;
    text-align: center;
    position: relative;
    &::before{
      background-color: $white;
      height: 2px; width: $line_length;
      position: absolute;
      top:1.2em;bottom: 0;
      left: 0;right: 0;
      margin: auto;
      content:"";
    }
  }
}
@font-face {
  font-family: "akukamu";
  src: url(../material/Aku&Kamu.otf);
}
body{
  height: calc(100vh * 4);
}
header{
  position: relative;
  z-index: 200;
  nav{
    position: fixed;

    left: 0;right: 0;
    margin: 0 auto;
    ul{
      text-align: center;

      li{
        width: 142px;
        text-align: center;
        letter-spacing: 0.2em;
        font-family: "akukamu";
        display: inline-block;
        margin-top: 20px;
        font-size: 18px;
        z-index: 200;
        color:$white;
        text-shadow: 4px 4px 1px rgba(150, 150, 150, 0.2);
        @for $li_num from 1 through 8{
          &:nth-child(#{$li_num}){
            animation: nav_anime#{$li_num} #{$li_num}s linear 0s forwards;
          }
        }

      }


    }
  }

}
#logowrap{
  position: relative;
  z-index: 10;
  .logos{
    position: relative;
    @include center;
    z-index: 3;
    img:nth-child(1){
      @include center;
      // top: 49vh !important;
      // left: -13px !important;
      height: 543px; width: auto;
      opacity:0.7;
      position: fixed;
    }
    img:nth-child(2){
      @include center;
      height: 140px; width: auto;
      position: fixed;
    }
  }
  .mask{
    @include fullsize;
    position: absolute;
    top: 100vh;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .mask_black{
    @include fullsize;
    position: absolute;
    top: calc(100vh * 2);
    left: 0;
    z-index: 10;
    background-color: black;
  }

}
#firstview{
  @include fullsize;
  background-image: url(../material/top.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
#artist{
  @include fullsize;
  overflow: hidden;
  background-image: url(../material/artist_back_new.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;

  @include h1(130px);
  ul{
    color: $white;
    text-align: center;
    li{
      margin: 0 20px;
      text-align: center;
      display: inline-block;
      border:solid 1.5px #fff;
      border-radius:3px;
      height: 35px; width: 100px;
    }
  }
  .artist_wrap{
    margin: 0 auto;
    margin-top: 50px;
    height: 220px; width: 1040px;
    overflow: hidden;
    position: relative;
    img{
      height: 220px; width: 330px;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top:0;
      left: -330px;

      @for $img_num from 1 through 5{
        $speed:12;//この値を変えればカルーセルのスピードを変えれる
        $delay:0.25 * $speed * ($img_num - 1);
        &:nth-child(#{$img_num}){
          animation: artist_carousel #{$speed}s linear #{$delay}s infinite;
        }
      }
    }
  }
}
#movie{
  @include h1(145px);



  iframe{
    height: calc(800px * 0.563);width: 800px;
    position: absolute;
  	top: 52%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  }
}
#about{
  @include h1(130px);
  background-image: url(../material/about.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
  @include fullsize;
  position: relative;
  z-index: 100;
}
